@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    box-sizing: border-box;
}

body {
    display: grid;
    position: relative;
    margin: 0 auto;
}

header {
    background: #00AF91;
    color: #f1c853;
    position: inherit;
    width: 100%;
    height: 100px;
    border-bottom: solid;
}

header h1{
    font-family: 'Lobster', cursive;
    float: left;
    padding: 0 37px;
    text-transform: capitalize;
}

header nav {
    text-align: end;
    width: 95%;
}

header nav ul li {
    display: inline-block;
    padding: 20px 15px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: currentColor;
}

main {
    background-color: #007965;
    position: static;
    padding: 20px 0;
    
    
}



h2{
    font-family: 'Dosis', sans-serif;
    padding: 15px 25px;
    margin: 0 0;
    color: #e8ca94;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    background-color: oldlace;
}

td, th, tr{
      border: 2px solid #000000;
}

td{
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

footer {
    display: inline-block;
    width: 100%;
    background-color: #F58634;
    height: 22px;
}

p#footer {
    text-align: center;
    margin: 0 0;
    padding: 2px 0;
}

fieldset {
    display: flex;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    color: wheat;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 13px 0
}