@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Dosis:wght@600&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    box-sizing: border-box
}

body {
    display: grid;
}

header {
    background: #00AF91;
    color: #f1c853;
    position: static;
    width: 100%;
    height: 100px;
    border-bottom: solid;
}

header h1{
    font-family: 'Lobster', cursive;
    float: left;
    padding: 0 37px;
    text-transform: capitalize;
}

header nav {
    text-align: end;
    width: 95%;
}

header nav ul li {
    display: inline-block;
    padding: 20px 15px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: currentColor;
    font-weight: 900;
}

img#salmon {
    padding: 25px 478px;
    width: 100%;
    filter: drop-shadow(2px 4px 6px black);
}

h2{
    font-family: 'Dosis', sans-serif;
    padding: 15px 25px;
    margin: 0 0;
    color: #e8ca94;

}

main ul, main p{
    font-family: 'Merienda', cursive;
    width: 86%;
    padding: 0 50px;
    color: beige;
}

main {
    background-color: #007965;
    
    
}

section#sides {
    display: inline-block;
}

.left {
    margin: 0 0;
    padding: 0 0;
    width: 70%;
    float: left;
}

.right {
    margin: 0 0;
    padding: 0 0;
    width: 20%;
    float: right;
}

h4{
    font-family: 'Dosis', sans-serif;
    margin: 5px 0;
    color: #e8ca94;
}

#imgContainer {
    max-width: 75%;
}

#imgContainer img {
    max-width: inherit;
}

footer {
    display: inline-block;
    width: 100%;
    background-color: #F58634;
    height: 22px;
}

p#footer {
    text-align: center;
    margin: 0 0;
    padding: 2px 0;
}